# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# =========================
# Large datasets (DO NOT COMMIT)
# =========================
data/
*.tif
*.gpkg
*.gpkg.gz
*.shp
*.shp.zip
